body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("../images/antwerpen.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.darken1 {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
}
.darken2 {
  background-color: rgba(0,0,0,0.6);
  height: 100%;
}
.darken3 {
  background-color: rgba(0,0,0,0.8);
  height: 100%;
}
.darken4 {
  background-color: rgba(0,0,0,0.95);
  height: 100%;
}

.whitebg {
   background-color: #fff;
   margin: 0px;
   padding: 0px;
   min-height: 7em;
   min-width:7em;
}
.bluebg {
   background-color: #2fbdff;
   margin: 0px;
   padding: 0px;
   min-height: 7em;
   min-width:7em;
}

.darkbg {
   background-color: #212121;
   margin: 0px;
   padding: 0px;
   min-height: 7em;
   min-width:7em;
}

.yellowbg {
   background-color: #ffcc00;
   margin: 0px;
   padding: 0px;
   min-height: 7em;
   min-width: 7em;
}

/*
.whitebg {
   position: relative;
   background-color: #fff;
   width:10%;
}
.whitebg:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.bluebg {
   position: relative;
   background-color: #2fbdff;
   width:10%;
}
.bluebg:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.darkbg {
   position: relative;
   background-color: #212121;
   width:10%;
}
.darkbg:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.yellowbg {
   position: relative;
   background-color: #ffcc00;
   width:10%;
}
.yellowbg:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
}
*/

.h50_w100 {
   height:50%;
   min-height: 50%;
   width:100%;
   min-width: 100%;
   margin:0px;
   padding: 0px;
}
.h100_w100 {
   height:100%;
   min-height: 100%;
   width:100%;
   min-width: 100%;
   margin:0px;
   padding: 0px;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
