body, html {
  height: 100%;
  padding-top:0px;
  padding-bottom:0px;
}
.bg {
  /* The image used */
  background-image: url("../images/antwerpen.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg2 {
  /* The image used */
  background-image: url("../images/background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg3 {
  /* The image used */
  background-image: url("../images/background2.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.darken1 {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
}
.darken2 {
  background-color: rgba(0,0,0,0.6);
  height: 100%;
}
.darken3 {
  background-color: rgba(0,0,0,0.8);
  height: 100%;
}
.darken4 {
  background-color: rgba(0,0,0,0.95);
  height: 100%;
}

.whitebg {
   background-color: #0ff;
   width:20%;
}

.bluebg {
   background-color: #3fb2d3;
   width:20%;
}

.darkgrey {
   background-color: #fbfbfa;
   color: #4a5860;
}

.question {
   background-color: #004085;
   width:20%;
}

.darkbg {
   background-color: #212121;
   width:20%;
}

.yelllowbg {
   background-color: #ffcc00;
   width:20%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}


.h50_w100 {
   height:50%;
   min-height: 50%;
   width:100%;
   min-width: 100%;
   margin:0px;
   padding: 0px;
}
.h100_w100 {
   height:100%;
   min-height: 100%;
   width:100%;
   min-width: 100%;
   margin:0px;
   padding: 0px;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
.ib {
   padding:1.2em;
}
